.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    top: 300px;
    left: 450px;
  }
  
  .titleContainer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
 

  }
  
  .inputBox {
    width: 250px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .errorLabel {
    color: red;
    margin-top: 5px;
  }
  
  .inputButton {
    width: 150px;
    height: 40px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inputButton:hover {
    background-color: #0056b3;
  }
  
  .inputButton:active {
    background-color: #004088;
  }